{% extends 'frontend/layouts/default.html' %}
{% load static thumbnail utils crispy_forms_tags %}
{% block title %}{{ page_title|default:"Bienvenue sur jerecherche.ci" }}{% endblock %}
{% block header %}
    <header class="header_in map_view">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <div id="logo">
                        <a href="index.html">
                            <img src="{% static 'frontend/img/logo_triumf.png' %}" width="40" alt="" class="logo_sticky">
                        </a>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </header>
{% endblock %}

{% block content %}
    <main>
        <div class="container margin_60">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-6 col-md-8">
                    <div class="box_account">
                        <h3 class="client">Connectez-vous pour effectuer vos recherches</h3>
                        <div class="form_container">
                            <form action="{% url 'login' %}?next={{ request.GET.next }}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control" name="username" id="username" placeholder="Nom d'utilisateur*">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" id="password" value="" placeholder="Mot de passe*">
                                </div>
                                <div class="clearfix add_bottom_15">
                                    <div class="checkboxes float-left">
                                        <label class="container_check">Remember me
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="float-right"><a id="forgot" href="javascript:void(0);">Lost Password?</a></div>
                                </div>
                                <div class="text-center"><input type="submit" value="Log In" class="btn_1 full-width"></div>
                                <div id="forgot_pw">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email_forgot" id="email_forgot" placeholder="Type your email">
                                    </div>
                                    <p>A new password will be sent shortly.</p>
                                    <div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
                                </div>
                            </form>
                        </div>
                        <!-- /form_container -->
                    </div>
                    <!-- /box_account -->
                    <!-- /row -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </main>
{% endblock %}