{% load static %}
<!-- GOOGLE WEB FONT -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<!-- BASE CSS -->
<link href="{% static 'frontend/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css/style.css' %}" rel="stylesheet">
<link href="{% static 'frontend/css/vendors.css' %}" rel="stylesheet">
<link href="{% static 'frontend/assets/easy-autocomplete.min.css' %}" rel="stylesheet">
<link href="{% static 'frontend/assets/easy-autocomplete.themes.min.css' %}" rel="stylesheet">

<!-- YOUR CUSTOM CSS -->
<link href="{% static 'frontend/css/custom.css' %}" rel="stylesheet">

<style>
    html,
    body {
        height: 100%;
    }
</style>