{% load static %}
<!-- COMMON SCRIPTS -->
<script src="{% static 'frontend/js/common_scripts.js' %}"></script>
<script src="{% static 'frontend/js/functions.js' %}"></script>
<script src="{% static 'frontend/assets/validate.js' %}"></script>

<!-- Map -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="{% static 'frontend/assets/jquery.easy-autocomplete.min.js' %}"></script>
<script src="{% static 'frontend/js/turf.min.js' %}"></script>
<script src="{% static 'frontend/js/custom.js' %}"></script>
<script src="{% static 'frontend/js/get_place.js' %}"></script>
<script src="{% static 'frontend/js/get_location.js' %}"></script>
<script src="{% static 'frontend/js/markerclusterer.js' %}"></script>
<script src="{% static 'frontend/js/listing_map.js' %}"></script>
<script src="{% static 'frontend/js/infobox.js' %}"></script>
