{% extends 'frontend/layouts/default.html' %}
{% load static thumbnail utils crispy_forms_tags %}
{% block title %}{{ page_title|default:"Bienvenue sur jerecherche.ci" }}{% endblock %}
{% block header %}
    <header class="header_in map_view">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <div id="logo">
                        <a href="{% url module|add:':place-list' %}">
                            <img src="{% static 'frontend/img/logo_triumf.png' %}" width="40" alt="" class="logo_sticky">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <a href="#menu" class="btn_mobile">
                        <div class="hamburger hamburger--spin" id="hamburger">
                            <div class="hamburger-box">
                                <div class="hamburger-inner"></div>
                            </div>
                        </div>
                    </a>
                    <nav id="menu" class="main-menu float-left">
                        <ul>
                            <li class="{% if module == 'oneci' %}active{% endif %}"><span><a href="{% url 'oneci:place-list' %}">ONECI</a></span></li>
                            <li class="{% if module == 'wizall' %}active{% endif %}"><span><a href="{% url 'wizall:place-list' %}">WIZALL</a></span></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </header>
{% endblock %}

{% block content %}
    <main>
        <div class="container-fluid full-height">
            <div class="row row-height">
                <div class="col-lg-5 content-left order-md-last order-sm-last order-last">
                    <div id="results_map_view">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-10">
                                    {# <h4><strong class="object_list_count">{{ object_list.count }}</strong> resultats</h4> #}
                                    <h4>Faites une recherche ici <i class="fa fa-arrow-right"></i></h4>
                                </div>
                                <div class="col-2">
                                    <a href="#0" class="search_mob btn_search_mobile map_view"></a> <!-- /open search panel -->
                                </div>
                            </div>
                            <!-- /row -->
                            <div class="search_mob_wp">
                                <div class="custom-search-input-2 map_view">
                                    <form action="{% url module|add:':place-search' %}" method="post" id="place-search-form">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{ search_form.name }}
                                            <i class="icon_search"></i>
                                        </div>
                                        <div class="form-group">
                                            {{ search_form.location }}
                                            <i class="icon_pin_alt"></i>
                                        </div>

                                        {{ search_form.type }}

                                        <input type="hidden" name="geo_loc">
                                        <input type="submit" class="place-search-submit" value="Rechercher">
                                    </form>
                                </div>
                            </div>
                            <!-- /search_mobile -->
                        </div>
                        <!-- /container -->
                    </div>
                    <!-- /results -->

                    <div class="filters_listing version_3">
                        <div class="container-fluid">
                            <ul class="clearfix">
                                <li>
                                    <div class="switch-field">
                                        <form id="place-filters">
                                            {% csrf_token %}
                                            <input type="radio" id="all" name="listing_filter" value="all" data-module="{{ module }}" checked>
                                            <label for="all">Tous</label>
                                            <input type="radio" id="distance" name="listing_filter" value="distance" data-module="{{ module }}">
                                            <label for="distance">Par distance</label>
                                            <input type="radio" id="opened" name="listing_filter" value="opened" data-module="{{ module }}">
                                            <label for="opened">Ouvert</label>
                                        </form>
                                    </div>
                                </li>
                                {% comment %}<li>
                                    <a class="btn_filt_map" data-toggle="collapse" href="#filters" aria-expanded="false" aria-controls="filters"
                                       data-text-swap="Less filters" data-text-original="More filters">More filters</a>
                                </li>{% endcomment %}
                            </ul>
                        </div>
                        <!-- /container -->
                    </div>
                    <!-- /filters -->

                    <div class="collapse map_view" id="filters">
                        <div class="container-fluid margin_30_5">
                            <h6>Rating</h6>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul>
                                        <li>
                                            <label class="container_check">Superb 9+ <small>245</small>
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="container_check">Very Good 8+ <small>123</small>
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul>
                                        <li>
                                            <label class="container_check">Good 7+ <small>32</small>
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="container_check">Pleasant 6+ <small>12</small>
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <h6>Tags</h6>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul>
                                        <li>
                                            <label class="container_check">Wireless Internet
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="container_check">Smoking Allowed
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul>
                                        <li>
                                            <label class="container_check">Wheelchair Accesible
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="container_check">Parking
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /row -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="add_bottom_30">
                                        <h6>Distance</h6>
                                        <div class="distance"> Radius around selected destination <span></span> km</div>
                                        <input type="range" min="10" max="100" step="10" value="30" data-orientation="horizontal">
                                    </div>
                                </div>
                            </div>
                            <!-- /row -->
                        </div>
                    </div>
                    <!-- /Filters -->

                    <div class="place-search-list {{ module }}">
                        {% include 'frontend/layouts/partials/place-search.html' %}
                    </div>

                    <p class="text-center add_top_30"><a href="#0" class="btn_1 rounded"><strong>Load more</strong></a></p>
                </div>
                <!-- /content-left-->

                <div class="col-lg-7 map-right">
                    <div id="map_right_listing"></div>
                    <!-- map-->
                </div>
                <!-- /map-right-->
            </div>
            <!-- /row-->
        </div>
        <!-- /container-fluid -->
    </main>
{% endblock %}