/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

@media only screen and (min-width: 992px) {
    .main-menu > ul > li span:hover > a, .main-menu > ul > li.active span > a {
        opacity: 1;
        color: #004dda !important;
    }

}

.spinner.oneci:before {
    content: url(/static/frontend/img/logo_oneci.svg);
    transform: scale(1);
    width: 100px;
    height: 100px;
}

.spinner.wizall:before {
    content: url(/static/frontend/img/logo_wizall.png);
    transform: scale(.15);
    width: 0;
    height: 0;
}

.spinner:before {
    background-color: #FFFFFF;
    box-sizing: border-box;
    position: absolute;
    z-index: 999;
    top: 40%;
    left: 50%;
}

.spinner > div {
    opacity: 0.5;
}

.easy-autocomplete {
    width: 100% !important;
    color: #004dda;
}

.easy-autocomplete-container {
    z-index: 1000 !important;
}
