{% load thumbnail utils %}
<div class="place-result" data-place-result="{{ place_result }}"></div>
{% if place_list_count %}
    <p class="text-center mt-3"><strong>{{ place_list_count }}</strong> {% to_plural place_list_count "résultat" "résultats" False %}</p>
{% endif %}
{% for place in place_list %}
    <div class="strip map_view {% if forloop.counter == 1 %}add_top_20{% endif %}">
        <div class="row no-gutters">
            <div class="col-4">
                <figure>
                    <a href="{% url module|add:':place-detail' place.pk %}">
                        {% thumbnail place.image "460x306" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                 alt="{{ place.title }}" class="img-fluid">
                        {% empty %}
                            <img src="https://placehold.jp/cccccc/ffffff/460x306.png?text=460%20x%20306"
                                 alt="{{ place.title }}" class="img-fluid">
                        {% endthumbnail %}
                    </a>
                    <small>{{ place.type.name|default_if_none:"" }}</small>
                </figure>
            </div>
            <div class="col-8">
                <div class="wrapper">
                    {% if from_geo_loc %}
                        <div class="from_geo_loc float-right">
                            &agrave;
                            <strong>
                                <span class="distance" data-lat="{{ place.lat|stringformat:"f" }}" data-lon="{{ place.lon|stringformat:"f" }}"></span>
                            </strong>
                            de moi
                        </div>
                    {% endif %}
                    <h3><a href="{% url module|add:':place-detail' place.pk %}">{{ place.name }}</a></h3>
                    <small>{{ place|location }}</small>
                    <p><a href="#0" onclick="onHtmlClick({{ place.pk }})" class="address">Voir sur la Map</a></p>
                </div>
                <ul>
                    {% if place.is_open %}
                        <li><span class="loc_open">Ouvert</span></li>
                    {% else %}
                        <li><span class="loc_closed">Ferm&eacute;</span></li>
                    {% endif %}
                    {% if place.opening_time and place.closing_time %}
                        <li>
                            <span>
                                {{ place.opening_time }} - {{ place.closing_time }}
                            </span>
                        </li>
                    {% else %}
                        <li></li>
                    {% endif %}
                    <!--li>
                        <div class="score"><span>Superb<em>350 Reviews</em></span><strong>8.9</strong></div>
                    </li-->
                </ul>
            </div>
        </div>
    </div>
{% empty %}
    Aucun r&eacute;sultat ne correspond à votre recherche
{% endfor %}